<div class="menu-container">
  <div class="heading">
    <h1>✨ Our Menu ✨</h1>
  </div>
  <div class="container">
    <img
      class="planet first-planet"
      src="../../../assets/imgs/Planets-Playground/FirstPlanet.svg"
      alt="Planet1"
    />
    <img
      class="planet second-planet"
      src="../../../assets/imgs/Planets-Playground/SecondPlanet.svg"
      alt="Planet2"
    />
    <br />
    <img
      class="planet third-planet"
      src="../../../assets/imgs/Planets-Playground/ThirdPlanet.svg"
      alt="Planet3"
    />
    <img
      class="planet fourth-planet"
      src="../../../assets/imgs/Planets-Playground/FourthPlanet.svg"
      alt="Planet4"
    />
    <br />
    <img
      class="planet fifth-planet"
      src="../../../assets/imgs/Planets-Playground/FifthPlanet.svg"
      alt="Planet5"
    />
  </div>
</div>
